.header-container{
    display: flex;
    height: 50px;
    padding: var(--s-small);
    background-color: var(--c-medium);
}

.header-counter{
    margin-left: auto;
    padding-right: var(--s-small);
    font-weight: bold;
    cursor: pointer;
}